/* inicio */

#header{

    .titulo{
        display: flex;
        justify-content: center;
        animation: titulo 4s;

        span{
            text-align: center;
        }
    }

    .titulo-pagina1{
        color: white;
        font-size: 80px;
        padding-top: 40vh;
    }

}

.unPocoDeNosotros{

    .presentacion{
        padding: 20px;
        background-image: url(../imagenes/reunion3.jpg);
        background-size: cover;
        margin: 5px;
        color: white;
        background-attachment: scroll;

        p{
            background-color: #5d4b41a8; 
            padding: 10px;
            font-size: 20px;
        }

    }

    .imgReunion{
        display: none;
    }

}

.h22{
    
    h2{
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 50px;
    }

}

.equipo-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: auto;
    align-items: center;

    .flexImg{
        width: 330px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        display: flex;
        flex-direction: column;

        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        }

        h3{
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 15px;
        }

        a{
            img{
                width: 80%;
                margin-bottom: 20px;
            }

            .linkedin{
                width: 7%;
            }

        }

    }

    .equipo-boton{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.76);
        margin-bottom: 15px;
        font-size: 20px;
    }

}

.contactanos{
    background-image: url(../imagenes/contrato2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 5px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .button{
        display: inline-block;
        padding: 12px 24px;
        border: 1px solid $colorPrincipal;
        border-radius: 4px;
        transition: all 0.2s ease-in;
        position: relative;
        overflow: hidden;
        font-size: 20px;
        color: black;

        &:before{
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%) scaleY(1) scaleX(1.25);
            top: 100%;
            width: 140%;
            height: 180%;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 50%;
            display: block;
            transition: all 0.2s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
            z-index: -1;
        }

        &:after{
            content: "";
            position: absolute;
            left: 55%;
            transform: translateX(-50%) scaleY(1) scaleX(1.45);
            top: 180%;
            width: 160%;
            height: 190%;
            background-color: $colorPrincipal;
            border-radius: 50%;
            display: block;
            transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
            z-index: -1;
        }

        &:hover{
            color: white;
            border: 1px solid white;
            background-color: $colorPrincipal;
        }

        &:hover:before{
            top: -35%;
            background-color: $colorPrincipal;
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }

        &:hover:after{
            top: -45%;
            background-color: $colorPrincipal;
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }

    }


}